<h3><%= "#{greeting}, #{@candidate.first_name}!" %></h3>

<p>Sua incrição no processo seletivo da GTi foi confirmado!</p>
<p>Se houver algum dado seu errado, entrar em contato conosco. :)</p>

<% @attrs.each_with_index do |attr, index| %>
  <%= "#{@columns[index]}: #{@candidate.send(attr)}" %> <br>
<% end %>
