/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background: #00bcd4;
}

h3 {
  color: #fff;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

section {
  text-align: center;
  background: #00bcd4;
  top: 0;
  height: 100%;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {

  font-family: Raleway ,sans-serif;
  line-height: 1em;
  letter-spacing: 0;

}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

